:root {
    --main-bg-color: #009d63;
    --main-text-color: #4e8deb;
    --second-text-color: #aaaaaa;
    --second-bg-color: #e1eaf9;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  .btn-success{
    background-color: var(--main-text-color);
    border-color: var(--main-text-color);
  }
  .btn-success:hover{
    background-color: #2f7aeb;
    border-color: #2f7aeb;
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  .custom-input{
    height: 50px;
  }
  .ant-table-content{
    border: 1px solid #ececec;
  }
  .error{
    color: red;
    font-size: 12px;
  }
  
  #wrapper {
    overflow-x: hidden;
   
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
    border-right: 1px solid #dee2e6;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
    background-color: #edf0f791;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  

  /* Login */
  .login-wrapper .btn-color{
    background-color: #0e1c36;
    color: #fff;
    height: 40px;
    width: 100%;
    box-shadow: none ;
    font-weight: bold;
  }
  .login-wrapper .form-control{
    box-shadow: none;
    padding: 10px;
  }
  
  .login-wrapper .profile-image-pic{
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
  
  
  
  .login-wrapper .cardbody-color{
    background-color: #ebf2fa;
  }
  
  .login-wrapper a{
    text-decoration: none;
  }
  /* Login ENds here */



  /* Animations */
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }